<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Linkesvape.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>269FA1741FF1FE1100D4F844</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>269FA18C1FF1FE1100D4F844</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>269FA1971FF1FE1100D4F844</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
