<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>white</key>
	<dict>
		<key>Description</key>
		<string>白色</string>
		<key>Colors</key>
		<dict>
			<key>BgColor</key>
			<dict>
				<key>Content</key>
				<string>0xF0F0F0</string>
			</dict>
			<key>MainColor</key>
			<dict>
				<key>Content</key>
				<string>0xFFFFFF</string>
			</dict>
			<key>IdBgColor</key>
			<dict>
				<key>Content</key>
				<string>0xF0F0F0</string>
			</dict>
			<key>LineColor</key>
			<dict>
				<key>Content</key>
				<string>0xE1E1E1</string>
			</dict>
			<key>TitleColor</key>
			<dict>
				<key>Content</key>
				<string>0x333333</string>
			</dict>
			<key>SubtitleColor</key>
			<dict>
				<key>Content</key>
				<string>0x999999</string>
			</dict>
			<key>ContentColor</key>
			<dict>
				<key>Content</key>
				<string>0x666666</string>
			</dict>
			<key>BtnUnEnableBgColor</key>
			<dict>
				<key>Content</key>
				<string>0xC5C5C5</string>
			</dict>
			<key>BtnBgColor</key>
			<dict>
				<key>Content</key>
				<string>0x920CDC</string>
			</dict>
			<key>TabbarBgColor</key>
			<dict>
				<key>Content</key>
				<string>0xFFFFFF</string>
			</dict>
			<key>NavBgColor</key>
			<dict>
				<key>Content</key>
				<string>0xFFFFFF</string>
			</dict>
			<key>NavTitleColor</key>
			<dict>
				<key>Content</key>
				<string>0x333333</string>
			</dict>
			<key>WhiteColor</key>
			<dict>
				<key>Content</key>
				<string>0xFFFFFF</string>
			</dict>
		</dict>
		<key>Images</key>
		<dict>
			<key>Compile</key>
			<dict>
				<key>Content</key>
				<string>data_compile</string>
			</dict>
			<key>Allearnings</key>
			<dict>
				<key>Content</key>
				<string>icon_allearnings</string>
			</dict>
			<key>Account</key>
			<dict>
				<key>Content</key>
				<string>icon_account</string>
			</dict>
			<key>Level</key>
			<dict>
				<key>Content</key>
				<string>icon_level</string>
			</dict>
			<key>Bill</key>
			<dict>
				<key>Content</key>
				<string>icon_bill</string>
			</dict>
			<key>RenZheng</key>
			<dict>
				<key>Content</key>
				<string>icon_renzheng</string>
			</dict>
			<key>Help</key>
			<dict>
				<key>Content</key>
				<string>icon_help</string>
			</dict>
			<key>Set</key>
			<dict>
				<key>Content</key>
				<string>icon_set</string>
			</dict>
			<key>Home</key>
			<dict>
				<key>Content</key>
				<string>nor_home</string>
			</dict>
			<key>Follow</key>
			<dict>
				<key>Content</key>
				<string>nor_follow</string>
			</dict>
			<key>Msg</key>
			<dict>
				<key>Content</key>
				<string>nor_msg</string>
			</dict>
			<key>Me</key>
			<dict>
				<key>Content</key>
				<string>nor_me</string>
			</dict>
			<key>SystemMsg</key>
			<dict>
				<key>Content</key>
				<string>communicate2.9</string>
			</dict>
			<key>Banner</key>
			<dict>
				<key>Content</key>
				<string>banner_default</string>
			</dict>
			<key>Live</key>
			<dict>
				<key>Content</key>
				<string>live_default</string>
			</dict>
			<key>LiveHead</key>
			<dict>
				<key>Content</key>
				<string>live_head_default</string>
			</dict>
			<key>Back</key>
			<dict>
				<key>Content</key>
				<string>back</string>
			</dict>
			<key>Eye_close</key>
			<dict>
				<key>Content</key>
				<string>eye_close</string>
			</dict>
			<key>Eye_open</key>
			<dict>
				<key>Content</key>
				<string>icon_see</string>
			</dict>
			<key>Icon_account</key>
			<dict>
				<key>Content</key>
				<string>nicheng</string>
			</dict>
			<key>Icon_yonghu</key>
			<dict>
				<key>Content</key>
				<string>icon_yonghu</string>
			</dict>
			<key>Mima</key>
			<dict>
				<key>Content</key>
				<string>icon_mima</string>
			</dict>
			<key>Shouji</key>
			<dict>
				<key>Content</key>
				<string>shouji</string>
			</dict>
			<key>FansContribution</key>
			<dict>
				<key>Content</key>
				<string>fansContribution</string>
			</dict>
			<key>Icon_search</key>
			<dict>
				<key>Content</key>
				<string>icon_search_red</string>
			</dict>
		</dict>
	</dict>
	<key>black</key>
	<dict>
		<key>Description</key>
		<string>黑色</string>
		<key>Colors</key>
		<dict>
			<key>BgColor</key>
			<dict>
				<key>Content</key>
				<string>0x1c2023</string>
			</dict>
			<key>MainColor</key>
			<dict>
				<key>Content</key>
				<string>0x202427</string>
			</dict>
			<key>IdBgColor</key>
			<dict>
				<key>Content</key>
				<string>0xFFFFFF</string>
			</dict>
			<key>LineColor</key>
			<dict>
				<key>Content</key>
				<string>0x35383b</string>
			</dict>
			<key>TitleColor</key>
			<dict>
				<key>Content</key>
				<string>0xFFFFFF</string>
			</dict>
			<key>SubtitleColor</key>
			<dict>
				<key>Content</key>
				<string>0x999999</string>
			</dict>
			<key>ContentColor</key>
			<dict>
				<key>Content</key>
				<string>0x999999</string>
			</dict>
			<key>BtnUnEnableBgColor</key>
			<dict>
				<key>Content</key>
				<string>0x323436</string>
			</dict>
			<key>BtnBgColor</key>
			<dict>
				<key>Content</key>
				<string>0x920CDC</string>
			</dict>
			<key>TabbarBgColor</key>
			<dict>
				<key>Content</key>
				<string>0x121213</string>
			</dict>
			<key>NavBgColor</key>
			<dict>
				<key>Content</key>
				<string>0x121213</string>
			</dict>
			<key>NavTitleColor</key>
			<dict>
				<key>Content</key>
				<string>0xFFFFFF</string>
			</dict>
			<key>WhiteColor</key>
			<dict>
				<key>Content</key>
				<string>0x333333</string>
			</dict>
		</dict>
		<key>Images</key>
		<dict>
			<key>Compile</key>
			<dict>
				<key>Content</key>
				<string>data_compile_black</string>
			</dict>
			<key>Allearnings</key>
			<dict>
				<key>Content</key>
				<string>shouyi_black</string>
			</dict>
			<key>Account</key>
			<dict>
				<key>Content</key>
				<string>zhanghu_black</string>
			</dict>
			<key>Level</key>
			<dict>
				<key>Content</key>
				<string>vip_black</string>
			</dict>
			<key>Bill</key>
			<dict>
				<key>Content</key>
				<string>zhangdan_black</string>
			</dict>
			<key>RenZheng</key>
			<dict>
				<key>Content</key>
				<string>shimingrenzheng_black</string>
			</dict>
			<key>Help</key>
			<dict>
				<key>Content</key>
				<string>help_black</string>
			</dict>
			<key>Set</key>
			<dict>
				<key>Content</key>
				<string>sezhi_black</string>
			</dict>
			<key>Home</key>
			<dict>
				<key>Content</key>
				<string>nor_home_black</string>
			</dict>
			<key>Follow</key>
			<dict>
				<key>Content</key>
				<string>nor_follow_black</string>
			</dict>
			<key>Msg</key>
			<dict>
				<key>Content</key>
				<string>nor_msg_black</string>
			</dict>
			<key>Me</key>
			<dict>
				<key>Content</key>
				<string>nor_me_black</string>
			</dict>
			<key>SystemMsg</key>
			<dict>
				<key>Content</key>
				<string>communicate2.9_black</string>
			</dict>
			<key>Banner</key>
			<dict>
				<key>Content</key>
				<string>banner_default_black</string>
			</dict>
			<key>Live</key>
			<dict>
				<key>Content</key>
				<string>live_default_black</string>
			</dict>
			<key>LiveHead</key>
			<dict>
				<key>Content</key>
				<string>live_head_default_black</string>
			</dict>
			<key>Back</key>
			<dict>
				<key>Content</key>
				<string>back_black</string>
			</dict>
			<key>Eye_close</key>
			<dict>
				<key>Content</key>
				<string>eye_close_black</string>
			</dict>
			<key>Eye_open</key>
			<dict>
				<key>Content</key>
				<string>eye_open_black</string>
			</dict>
			<key>Icon_account</key>
			<dict>
				<key>Content</key>
				<string>icon_mima_black</string>
			</dict>
			<key>Icon_yonghu</key>
			<dict>
				<key>Content</key>
				<string>icon_yonghu_black</string>
			</dict>
			<key>Mima</key>
			<dict>
				<key>Content</key>
				<string>mima_black</string>
			</dict>
			<key>Shouji</key>
			<dict>
				<key>Content</key>
				<string>shouji_black</string>
			</dict>
			<key>FansContribution</key>
			<dict>
				<key>Content</key>
				<string>fansContribution_black</string>
			</dict>
			<key>Icon_search</key>
			<dict>
				<key>Content</key>
				<string>icon_search_grey</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
